*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
  }
body{
    margin: 0;
    padding: 0;
}
 .container{
   display: flex;
    /* border: solid 5px brown; */
    width: 20%;
    margin: auto;
    height: 100vh;
    align-items:center;
    justify-content:center;
    background-color:  hsl(0, 0%, 0%,0.99);
    

    
 }  
.all-button{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,75px);
  justify-content: center;
  gap: 10px;
  /* background-color: hsl(0, 0%, 0%,0.2); */
  margin-top: 1fr;
  /* align-items: center; */
  

}
.button{
  display: flex;
  /* border: 1px solid; */
  align-items: center; 
  justify-content: center; 
  outline: none;
  /* cursor: pointer;   */
  /* font-size: 2rem;
  border-radius:50%; */
}
button{
width: 60px;
aspect-ratio: 1;
border-radius: 50%;
/* display: flex;
justify-content: center;
align-items: center; */
cursor: pointer;
}
.orange{
  background-color: orange;
}
.light-gray{
  background-color: rgb(164,164,164);
}
.dark-gray{
  background-color: rgb(54,54,54);
}
.span-4{
  grid-column: span 4;
  background-color: black;
}
.span-2{
  grid-column: span 2 ;
}
.output{
  grid-column: 1 / -1;
}
.btn-round{
  width: 75px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
input{
  width: 200px;;
}
